/* carousel */
.media-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 80px
}
/* Next button  */
.media-carousel .carousel-control.right {
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 80px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active {
  background: #333333;
}
.media-carousel img {
  width: 250px;
  height: 200px
}
/* End carousel */

.navbar-nav {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    color: grey;
}

.logo {
    margin-top:0px;
    color: beige;
}

.navbar-nav a {
    color: white;
    border: 1px solid white;
    margin: 0px;
}

/* .jumbotron{
    height: 680px;
    background: url('../images/1.jpg');
} */

.jumbotron-header {
    margin-top: 10%;
    color: #f4f8f7;
    text-shadow: 0 0 35px black;
}

.jumbotron-header span {
    color:rgb(1,142,203);
}

.jumbotron-caption span {
    color:rgb(1,142,203);
}

.jumbotron h4 {
    margin-left: 40%;
    width:200px;
    padding: 15px;
    color:white;
    border: 1px solid white;
    box-shadow: 0px 0px 9px black
}

.card-img-top {
    height:200px;
    width: 200px;
}

#media {
    margin-top:3%;
    margin-left:18%;
}

.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../../assets/img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    height: 679px;
    padding-top: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 91%;
  width: 87%;
  margin-left: 16px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,.7);
}

.thumb:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.searchbox {
    height:600px;
    margin-top:10%;
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.affix {
    background-color: black;
}

#myModal {
    margin-top:10%;
}

.querybox {
    margin:15% 0 0 50%;
}

.searchbtn {
    margin:5%;
}

a[ class= "thumbnail" ]:target ~ #searchbox {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

.url-result {
    width: 800px;
    margin: auto;
}

.searchresultheader {
    margin: auto;
    width:500px;
}

.url {
    color: rgb(55,102,53);
}

.jumbotron{
    text-align: center;
}

.thumbnail {
    box-shadow: 0 0 15px black;
}