 <div class="jumbotron bg-overlay">
    <!-- <center> -->
    <h1 class="jumbotron-header">WELCOME TO <span>SWIS-IT</span></h1>
    <h3 class="jumbotron-caption"> It's SEMANTIC WEB INTENT SEARCH - BREATHE WITH <span>INTELLIGENCE</span> IN SEARCH</h3>
    <br><h4>Select Domain</h4>
    <!-- </center> -->
  <div class="domain-cards">
  <div class="container">
  <div class='row'>
    <div class='col-md-10'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-4 thumb" (click)="clickondomain('java')">
                <a class="thumbnail"><img alt="Java Logo" src="https://www.shareicon.net/download/512x512/2016/09/23/833700_windows_512x512.png">
                <div class="overlay" ><div class="text">Java</div></div>
                </a>
              </div>          
              <div class="col-md-4 thumb" (click)="clickondomain('java')">
                <a class="thumbnail"><img alt="Python Logo" src="https://www.shareicon.net/download/512x512/2016/07/16/634601_python_512x512.png">
                <div class="overlay"><div class="text">Python</div></div>
              </a>
              </div>
              <div class="col-md-4 thumb" (click)="clickondomain('java')">
                <a class="thumbnail"><img alt="Angular Logo" src="https://www.shareicon.net/download/512x512/2016/07/08/116973_development_512x512.png">
                <div class="overlay"><div class="text">Angular</div></div>
                </a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4 thumb" (click)="clickondomain('java')">
                <a class="thumbnail"><img alt="Java Logo" src="https://www.shareicon.net/download/512x512/2016/09/23/833700_windows_512x512.png">
                <div class="overlay" ><div class="text">Java</div></div>
                </a>
              </div>          
              <div class="col-md-4 thumb" (click)="clickondomain('java')">
                <a class="thumbnail"><img alt="Python Logo" src="https://www.shareicon.net/download/512x512/2016/07/16/634601_python_512x512.png">
                <div class="overlay"><div class="text">Python</div></div>
              </a>
              </div>
              <div class="col-md-4 thumb" (click)="clickondomain('java')">
                <a class="thumbnail"><img alt="Angular Logo" src="https://www.shareicon.net/download/512x512/2016/07/08/116973_development_512x512.png">
                <div class="overlay"><div class="text">Angular</div></div>
                </a>
              </div>         
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4 thumb" (click)="clickondomain('java')">
                <a class="thumbnail"><img alt="Java Logo" src="https://www.shareicon.net/download/512x512/2016/09/23/833700_windows_512x512.png">
                <div class="overlay"><div class="text">Java</div></div>
                </a>
              </div>          
              <div class="col-md-4 thumb" (click)="clickondomain('java')">
                <a class="thumbnail"><img alt="Python Logo" src="https://www.shareicon.net/download/512x512/2016/07/16/634601_python_512x512.png">
                <div class="overlay"><div class="text">Python</div></div>
              </a>
              </div>
              <div class="col-md-4 thumb" (click)="clickondomain('java')">
                <a class="thumbnail"><img alt="Angular Logo" src="https://www.shareicon.net/download/512x512/2016/07/08/116973_development_512x512.png">
                <div class="overlay"><div class="text">Angular</div></div>
                </a>
              </div>       
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
  </div>
</div>
</div>
  </div>
<router-outlet #searchbox></router-outlet>

