<app-usernavbar></app-usernavbar>
<div class="adminDashboard">
    <br><br><br><br>
    <div class="adminbox">
<h1 class="welcome">Welcome back <br> <span>Swisit</span></h1>
<div class="addDocuments" [routerLink]="['addDocuments',{outlets: 'add'}]" routerLinkActive="active" (click)="openAddDocuments()"><h1>Add Documents</h1></div>
<br><br>
<div class="addTerms" [routerLink]="['addTerms',{outlets: 'add'}]" routerLinkActive="active" (click)="openAddTerms()"><h1>Add Terms</h1></div>
</div>
<router-outlet name="add"></router-outlet>
</div>

